/node_modules
/old-app/node_modules
/public/hot
/old-app/public/hot
/public/storage
/old-app/public/storage
/storage/*.key
/old-app/storage/*.key
/vendor
/old-app/vendor
.env
.env.backup
/old-app/.env
/old-app/.env.backup
.phpunit.result.cache
/old-app/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
local-stuff
