
.hyperspan {
    position:absolute;
    /* position:relative; */
    width:10vw;
    height:10vw;
    background-color:red;
    text-align: center;
    color: white;
    border: 1px solid grey;
    border-radius: 0.5vw;
    /* left:0;
    top:0; */
}
.hyperspan hr {
    color: white;
    background-color: white;
}
